.editor {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .editor-personal-data {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px 0;

        input,
        select {
            background: none;
            border: none;
            border-radius: 4px;
            padding: 2px;
            margin: 2px;
            border: 1px solid transparent;
            outline: none;
            color: #3F4F58;
            font-size: 14px;

            &:hover {
                box-sizing: border-box;
                border: 1px solid rgba(128, 128, 128, 0.3);
            }

        }

        ::placeholder {
            color: rgb(186, 186, 186);
        }

        .id-value {
            display: flex;
            flex-direction: row;
        }

        #nombre {
            font-size: 20px;
            font-weight: 900;
            outline: none;
        }
    }

    .editor-diagnostico {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        .editor-history {
            height: 100%;
            flex-basis: 60%;

            textarea {
                box-sizing: border-box;
                border: none;
                border-radius: 4px 4px 0 0;
                resize: none;
                width: 100%;
                padding: 14px;
                font-size: 14px;
                height: 100%;
                outline: none;
            }
        }

        .editor-sesions {
            flex-basis: 40%;
            box-sizing: border-box;
            padding: 4px;

            .editor-sintoms {
                border-bottom: 1px solid #B3CFE2;
                box-sizing: border-box;
                padding: 4px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .editor-sintom {
                    border-radius: 100px;
                    background-color: green;
                    padding: 2px 8px;

                    p {
                        color: white;
                        display: inline;
                        font-size: 14px;
                    }

                    .editor-sintom-tag {
                        margin-right: 20px;
                    }

                    .editor-sintom-id {
                        color: rgba(255, 255, 255, 0.537);
                    }
                }

            }

            .editor-meeting-quantity {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                border-radius: 4px 4px 0 0;
                box-sizing: border-box;
                margin-top: 4px;
                box-shadow: 0 4px 8px #d0d0d0;

                p {
                    font-size: 13px;
                    padding: 3px;
                    margin: 3px;
                }

                .editor-visual-quantity {
                    box-sizing: border-box;
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                    box-sizing: border-box;

                    .editor-visual-q {
                        margin: 1px;
                        height: 6px;
                        background-color: green;
                        flex-grow: 1;

                        &:first-child {
                            border-radius: 200px 0 0 200px;
                        }

                        &:last-child {
                            border-radius: 0 200px 200px 0;
                        }
                    }
                }
            }

            .editor-sesions-descriptions {
                display: flex;
                flex-direction: column;

                .sesion-description {
                    box-sizing: border-box;

                    .sesion-description__header {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        background-color: white;
                        border-bottom: 1px solid #CDCDCD;
                        border-radius: 4px 4px 0 0;

                        input {
                            background: none;
                            border: none;
                            border-radius: 4px;
                            padding: 2px;
                            margin: 2px;
                            border: 1px solid transparent;
                            outline: none;
                            color: #AFAFAF;
                            font-size: 13px;
                            align-items: center;

                            &:hover {
                                box-sizing: border-box;
                                border: 1px solid rgba(128, 128, 128, 0.3);
                            }

                        }

                        .sesion-number {
                            font-size: 13px;
                            color: #AFAFAF;
                        }
                    }

                    .sesion-text {
                        box-sizing: border-box;
                        resize: none;
                        border: none;
                        border-radius: 4px 4px 0 0;
                        width: 100%;
                        padding: 14px;
                        font-size: 14px;
                        outline: none;
                    }

                }
            }
        }
    }
}
