.nav-bar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    .nav-bar_tab {
        background-color: #ffffff85;
        padding: 5px;

        p {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.50);
            display: inline;
            margin: 0 4px;
            user-select: none;
        }

        .nav-bar_tab--close {
            cursor: pointer;
            padding: 4px;

            &:hover {
                color: black;
            }
        }
    }

    .selected {
        background-color: #ffffff;
        border-radius: 0 4px 0 0;
        border-bottom: 1px solid #7C91C5;

        .nav-bar_tab--name {
            color: black !important;
        }
    }
}
